body {
  background-color: #f8f9fa;
  /* font-family: 'Gill Sans', 'Arial', sans-serif; */
  /* font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif; */
  /* font-family: 'Dejavu Sans', 'Arial', 'Verdana', sans-serif; */
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  padding: 0;
  margin: 0;
  /* border: 3px solid red; */
}

#canvas_logo {
  margin: auto;
  border: 0px;
  padding: 0;
  /* padding: 0; */
  /* margin: 0px; */
  /* border: 3px solid green; */
}

.pimg, #canvas_img {
  /* width: 100vw;
  height: 100vh;
  display: block; */
  /* background-color: aqua; */
  border: 0px;
  padding: 0px;
  /* margin: 0px; */
}

.pimg {
  position: relative;
  /* border: 3px solid green; */
}

.page-header {
  margin: auto;
  padding: 100px 0 0 0;
  width: 500px;
  height: 410px;
  /* border: 3px solid blue; */
}

/* ===== Navigation bar ====== */

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border: 3px solid green; */
}

ul.nav li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item img {
  display: block;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-item img.first {
  opacity: 1;
  position: relative; /* keep in front initially */
  z-index: 1;
}

.nav-item img.second {
  opacity: 0;
  z-index: 2;
}

.nav-item:hover img.first {
  opacity: 0;
}

.nav-item:hover img.second {
  opacity: 1;
}

/* ===== Text content ===== */

/* p {
  color: #212529;
} */

.overlay-text-container {
  display: flex;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* border: 3px solid green; */
  justify-content: center;
  align-items: center;
}

.overlay-text {
  /* border: 3px solid green; */
  background-color: #f8f9fae7;
  /* position: absolute; */
  /* top: 10px; */
  /* left: 10px; */
  /* left: 5%; */
  /* transform: translate(-10px, -10px); */
  color: #212529;
  font-size: 1em;
  width: 480px;
  /* pointer-events: none; */
  padding: 25px;
  /* text-align: justify; */
  min-width: 320px;
  max-width: 600px;
}

ul li {
  padding: 10px 0px;
}

h2 {
  text-align: justify;
}

/* p {
  font-family: 'Gill Sans', 'Arial', sans-serif;
} */