html{
  height: 100%
}

body {
  background-color: #f8f9fa;
  /* font-family: 'Gill Sans', 'Arial', sans-serif; */
  /* font-family: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', sans-serif; */
  /* font-family: 'Dejavu Sans', 'Arial', 'Verdana', sans-serif; */
  color: #212529;
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  padding: 0;
  margin: 0;
  height: 100%;
  /* border: 3px solid red; */
}

#canvas-logo {
  margin: auto;
  border: 0px;
  padding: 0;
  /* padding: 0; */
  /* margin: 0px; */
  /* border: 3px solid green; */
}

.pimg, #canvas-img {
  /* width: 100vw;
  height: 100vh;
  display: block; */
  /* background-color: aqua; */
  margin: auto;
  border: 0px;
  padding: 0px;
  max-width: 1200px;
  /* margin: 0px; */
}

.pimg {
  position: relative;
  /* border: 3px solid green; */
}

#page-header {
  margin: auto;
  padding: 100px 0 0 0;
  width: 500px;
  height: 410px;
  min-height: 0;
  /* border: 3px solid blue; */
}

.iframe-container{
  flex-direction: column;
  height: 100%;
}

iframe {
  width: 100vw;
  height: 100%;
  border: none;
}

/* ===== Navigation bar ====== */

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* border: 3px solid green; */
}

ul.nav li {
  float: left;
  margin: 0;
  padding: 0;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0;
  text-decoration: none;
}

.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item img {
  display: block;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-item img.first {
  opacity: 1;
  position: relative; /* keep in front initially */
  z-index: 1;
}

.nav-item img.second {
  opacity: 0;
  z-index: 2;
}

.nav-item:hover img.first {
  opacity: 0;
}

.nav-item:hover img.second {
  opacity: 1;
}

button {
  transition-duration: 0.5s;
}

.nav-button {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
}

#button-home {
  background-image: url("buttons/button-home.png");
}

#button-home:hover {
  background-image: url("buttons/button-home-active.png");
}

#button-bio {
  background-image: url("buttons/button-bio.png");
}

#button-bio:hover {
  background-image: url("buttons/button-bio-active.png");
}

#button-proj {
  background-image: url("buttons/button-proj.png");
}

#button-proj:hover {
  background-image: url("buttons/button-proj-active.png");
}

#button-sols {
  background-image: url("buttons/button-sols.png");
}

#button-sols:hover {
  background-image: url("buttons/button-sols-active.png");
}

#button-contact {
  background-image: url("buttons/button-contact.png");
}

#button-contact:hover {
  background-image: url("buttons/button-contact-active.png");
}

/* ===== Text content ===== */

.overlay-text-container {
  display: flex;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  /* width: 480px; */
  /* border: 3px solid green; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-text {
  /* border: 1px solid green; */
  background-color: #f8f9fae7;
  /* position: absolute; */
  /* top: 10px; */
  /* left: 10px; */
  /* left: 5%; */
  /* transform: translate(-10px, -10px); */
  /* color: #212529; */
  font-size: 1em;
  width: 480px;
  /* pointer-events: none; */
  padding: 25px;
  /* text-align: justify; */
  min-width: 320px;
  max-width: 600px;
}

ul li {
  padding: 10px 0px;
}

h2 {
  text-align: justify;
}

/* p {
  font-family: 'Gill Sans', 'Arial', sans-serif;
} */

/* ===== Project filters ===== */
.filterDiv {
  float: left;
  /* background-color: #2196F3; */
  /* color: #ffffff; */
  /* width: 125px; */
  /* line-height: 100px; */
  text-align: left;
  margin: 2px;
  display: none;
  padding: 5px;
  border: 1px solid #212529;
  border-radius: 5px;;
}

.show {
  display: block;
}

#filter-button-container{
  /* margin: auto; */
  /* width: 100%;
  height: 100%; */
  /* overflow: hidden; */
  padding: 0px 0px 25px 0px;
  display: flex;
  width: 500px;
  flex-direction: row;
  /* border: 3px solid rgb(128, 19, 0); */
}

.filter-items-container {
  /* margin-top: 20px; */
  margin: auto;
  /* overflow: hidden; */
  /* border: 3px solid rgb(128, 19, 0); */
}

.filter-btn {
  border: none;
  outline: none;
  /* padding: 12px 16px; */
  padding: 8px 0px 8px 0px;
  font-size: 15px;
  background-color: #f8f9fa;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #0D7C82;
  color: #f8f9fa;
}

.filter-btn.active {
  background-color: #59A399;
  color: white;
}

.dropbtn {
  background-color: #59A399;
  color: #f9f9f9;
  width: 118px;
  margin: 1px;
  padding: 8px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.filter-btn,
.dropbtn,
#showall {
    font-family: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-filters {
  display: none;
  flex-direction: column;
  width: 100%;
  /* text-align: left; */
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 200px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* .dropdown-filters a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

/* .dropdown-filters:hover {
  background-color: #495057;
} */

.dropdown:hover .dropdown-filters {
  display: flex;
}

.dropbtn:hover {
  background-color: #0D7C82;
}

#showall {
  float:right;
  font-size: 15px;
  color: #495057;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  cursor: pointer;
}

#showall:hover {
  /* border-width: 1px; */
  /* border-style: solid; */
  border-color: #495057;
}

/* h3 {
  border: 3px solid rgb(128, 19, 0);
} */